1.Create a .csv file with datas given below and read it as dataframe.

In [1]:
import pandas as pd
import numpy as np
im_data=pd.read_csv('data.csv')

im_data

,Unnamed: 0,Price,Age,KM,fueltyp,HP,MetColor,Doors,Weight
0,0,13500.0,23.0,46986.0,Diesel,90.0,1.0,4.0,13500.0
1,1,13750.0,23.0,72937.0,Diesel,90.0,1.0,4.0,13750.0
2,2,13950.0,24.0,41711.0,Diesel,90.0,NaN,4.0,13950.0
3,3,14950.0,26.0,48000.0,Diesel,90.0,0.0,4.0,14950.0
4,4,13750.0,30.0,38500.0,Diesel,90.0,0.0,4.0,13750.0
5,5,12950.0,32.0,61000.0,Diesel,90.0,0.0,4.0,12950.0
6,6,16900.0,27.0,NaN,Diesel,90.0,0.0,4.0,16900.0
7,7,18600.0,30.0,75889.0,Diesel,90.0,1.0,4.0,18600.0
8,8,21500.0,27.0,19700.0,Petrol,192.0,0.0,2.0,21500.0
9,9,12950.0,23.0,71138.0,Diesel,90.0,0.0,2.0,12950.0
10,10,20950.0,25.0,31461.0,Petrol,192.0,0.0,2.0,20950.0
11,11,19950.0,22.0,43610.0,Petrol,192.0,0.0,2.0,19950.0
12,12,19600.0,25.0,32189.0,Petrol,192.0,0.0,4.0,19600.0
13,13,21500.0,31.0,23000.0,Petrol,192.0,1.0,4.0,21500.0
14,14,22500.0,32.0,34131.0,Petrol,192.0,1.0,2.0,22500.0
15,15,22000.0,28.0,18739.0,Petrol,NaN,0.0,3.0,22000.0
16,16,21500.0,27.0,19700.0,Petrol,192.0,0.0,2.0,21500.0
17,17,17950.0,24.0,21716.0,Petrol,110.0,1.0,4.0,17950.0
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,16950.0,30.0,64359.0,Petrol,110.0,1.0,4.0,16950.0
20,20,15950.0,30.0,67660.0,Petrol,110.0,1.0,4.0,15950.0

1. Checking data types

In [2]:
im_data.dtypes

Unnamed: 0      int64
Price         float64
Age           float64
KM            float64
fueltyp        object
HP            float64
MetColor      float64
Doors         float64
Weight        float64
dtype: object

2. Check the total number of rows and columns

In [3]:
im_data.shape

(21, 9)

3. Dropping the duplicates.

In [4]:
im_data.drop_duplicates()

,Unnamed: 0,Price,Age,KM,fueltyp,HP,MetColor,Doors,Weight
0,0,13500.0,23.0,46986.0,Diesel,90.0,1.0,4.0,13500.0
1,1,13750.0,23.0,72937.0,Diesel,90.0,1.0,4.0,13750.0
2,2,13950.0,24.0,41711.0,Diesel,90.0,NaN,4.0,13950.0
3,3,14950.0,26.0,48000.0,Diesel,90.0,0.0,4.0,14950.0
4,4,13750.0,30.0,38500.0,Diesel,90.0,0.0,4.0,13750.0
5,5,12950.0,32.0,61000.0,Diesel,90.0,0.0,4.0,12950.0
6,6,16900.0,27.0,NaN,Diesel,90.0,0.0,4.0,16900.0
7,7,18600.0,30.0,75889.0,Diesel,90.0,1.0,4.0,18600.0
8,8,21500.0,27.0,19700.0,Petrol,192.0,0.0,2.0,21500.0
9,9,12950.0,23.0,71138.0,Diesel,90.0,0.0,2.0,12950.0
10,10,20950.0,25.0,31461.0,Petrol,192.0,0.0,2.0,20950.0
11,11,19950.0,22.0,43610.0,Petrol,192.0,0.0,2.0,19950.0
12,12,19600.0,25.0,32189.0,Petrol,192.0,0.0,4.0,19600.0
13,13,21500.0,31.0,23000.0,Petrol,192.0,1.0,4.0,21500.0
14,14,22500.0,32.0,34131.0,Petrol,192.0,1.0,2.0,22500.0
15,15,22000.0,28.0,18739.0,Petrol,NaN,0.0,3.0,22000.0
16,16,21500.0,27.0,19700.0,Petrol,192.0,0.0,2.0,21500.0
17,17,17950.0,24.0,21716.0,Petrol,110.0,1.0,4.0,17950.0
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,16950.0,30.0,64359.0,Petrol,110.0,1.0,4.0,16950.0
20,20,15950.0,30.0,67660.0,Petrol,110.0,1.0,4.0,15950.0

4. To check if data contains null values

In [5]:
im_data.isnull().any()

Unnamed: 0    False
Price          True
Age            True
KM             True
fueltyp        True
HP             True
MetColor       True
Doors          True
Weight         True
dtype: bool

5. Finding its null values.

In [6]:
im_data.notnull()

    Unnamed: 0  Price    Age     KM  fueltyp     HP  MetColor  Doors  Weight
0         True   True   True   True     True   True      True   True    True
1         True   True   True   True     True   True      True   True    True
2         True   True   True   True     True   True     False   True    True
3         True   True   True   True     True   True      True   True    True
4         True   True   True   True     True   True      True   True    True
5         True   True   True   True     True   True      True   True    True
6         True   True   True  False     True   True      True   True    True
7         True   True   True   True     True   True      True   True    True
8         True   True   True   True     True   True      True   True    True
9         True   True   True   True     True   True      True   True    True
10        True   True   True   True     True   True      True   True    True
11        True   True   True   True     True   True      True   True    True
12        True   True   True   True     True   True      True   True    True
13        True   True   True   True     True   True      True   True    True
14        True   True   True   True     True   True      True   True    True
15        True   True   True   True     True  False      True   True    True
16        True   True   True   True     True   True      True   True    True
17        True   True   True   True     True   True      True   True    True
18        True  False  False  False    False  False     False  False   False
19        True   True   True   True     True   True      True   True    True
20        True   True   True   True     True   True      True   True    True

6. Fill the Nan values.

In [7]:
new_data=im_data.copy()
im_data=im_data.ffill()
im_data

,Unnamed: 0,Price,Age,KM,fueltyp,HP,MetColor,Doors,Weight
0,0,13500.0,23.0,46986.0,Diesel,90.0,1.0,4.0,13500.0
1,1,13750.0,23.0,72937.0,Diesel,90.0,1.0,4.0,13750.0
2,2,13950.0,24.0,41711.0,Diesel,90.0,1.0,4.0,13950.0
3,3,14950.0,26.0,48000.0,Diesel,90.0,0.0,4.0,14950.0
4,4,13750.0,30.0,38500.0,Diesel,90.0,0.0,4.0,13750.0
5,5,12950.0,32.0,61000.0,Diesel,90.0,0.0,4.0,12950.0
6,6,16900.0,27.0,61000.0,Diesel,90.0,0.0,4.0,16900.0
7,7,18600.0,30.0,75889.0,Diesel,90.0,1.0,4.0,18600.0
8,8,21500.0,27.0,19700.0,Petrol,192.0,0.0,2.0,21500.0
9,9,12950.0,23.0,71138.0,Diesel,90.0,0.0,2.0,12950.0
10,10,20950.0,25.0,31461.0,Petrol,192.0,0.0,2.0,20950.0
11,11,19950.0,22.0,43610.0,Petrol,192.0,0.0,2.0,19950.0
12,12,19600.0,25.0,32189.0,Petrol,192.0,0.0,4.0,19600.0
13,13,21500.0,31.0,23000.0,Petrol,192.0,1.0,4.0,21500.0
14,14,22500.0,32.0,34131.0,Petrol,192.0,1.0,2.0,22500.0
15,15,22000.0,28.0,18739.0,Petrol,192.0,0.0,3.0,22000.0
16,16,21500.0,27.0,19700.0,Petrol,192.0,0.0,2.0,21500.0
17,17,17950.0,24.0,21716.0,Petrol,110.0,1.0,4.0,17950.0
18,18,17950.0,24.0,21716.0,Petrol,110.0,1.0,4.0,17950.0
19,19,16950.0,30.0,64359.0,Petrol,110.0,1.0,4.0,16950.0
20,20,15950.0,30.0,67660.0,Petrol,110.0,1.0,4.0,15950.0

7. Dropping the Nan values in the column

In [8]:
new_data.dropna(axis=1)

    Unnamed: 0
0            0
1            1
2            2
3            3
4            4
5            5
6            6
7            7
8            8
9            9
10          10
11          11
12          12
13          13
14          14
15          15
16          16
17          17
18          18
19          19
20          20

8. Dropping the Nan values in the Row.

In [9]:
new_data=new_data.dropna(axis=0)
new_data

,Unnamed: 0,Price,Age,KM,fueltyp,HP,MetColor,Doors,Weight
0,0,13500.0,23.0,46986.0,Diesel,90.0,1.0,4.0,13500.0
1,1,13750.0,23.0,72937.0,Diesel,90.0,1.0,4.0,13750.0
3,3,14950.0,26.0,48000.0,Diesel,90.0,0.0,4.0,14950.0
4,4,13750.0,30.0,38500.0,Diesel,90.0,0.0,4.0,13750.0
5,5,12950.0,32.0,61000.0,Diesel,90.0,0.0,4.0,12950.0
7,7,18600.0,30.0,75889.0,Diesel,90.0,1.0,4.0,18600.0
8,8,21500.0,27.0,19700.0,Petrol,192.0,0.0,2.0,21500.0
9,9,12950.0,23.0,71138.0,Diesel,90.0,0.0,2.0,12950.0
10,10,20950.0,25.0,31461.0,Petrol,192.0,0.0,2.0,20950.0
11,11,19950.0,22.0,43610.0,Petrol,192.0,0.0,2.0,19950.0
12,12,19600.0,25.0,32189.0,Petrol,192.0,0.0,4.0,19600.0
13,13,21500.0,31.0,23000.0,Petrol,192.0,1.0,4.0,21500.0
14,14,22500.0,32.0,34131.0,Petrol,192.0,1.0,2.0,22500.0
16,16,21500.0,27.0,19700.0,Petrol,192.0,0.0,2.0,21500.0
17,17,17950.0,24.0,21716.0,Petrol,110.0,1.0,4.0,17950.0
19,19,16950.0,30.0,64359.0,Petrol,110.0,1.0,4.0,16950.0
20,20,15950.0,30.0,67660.0,Petrol,110.0,1.0,4.0,15950.0

In [10]:
del new_data['Unnamed: 0']

9. For above .csv file create only data

In [11]:
head  = ['Price', 'Age', 'KM', 'fueltyp', 'HP', 'MetColor', 'Doors', 'Weight']
new_data.to_csv('newdata.csv',header=head,index=True)